name: "nix-config lint check"
on:
  pull_request:
  push:
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  nix-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v30
    - uses: DeterminateSystems/magic-nix-cache-action@v8
    - run: nix run nixpkgs#statix -- check ./
